{% assign experiences = data.experiences %}
{% if experiences and experiences.display %}
<section class="experiences">
    <br>
    <div class="section-title">
        {{ experiences.title }}
    </div>

    <div class="section-content">
        {% for experience in experiences.items %}
        <div class="item">

            <div class="upper-row">
                <div class="company" style="font-size:110%">
                    {{ experience.company }}
                    {% if experience.tag %}
                    <small>[{{ experience.tag }}]</small>
                    {% endif %}
                </div>
                <div class="location"><i class="fas fa-map-marker-alt"></i> {{ experience.location }}</div>
            </div>

            <div class="upper-row">
                <div class="role">{{ experience.role1 }}</div>
                <div class="time">{{ experience.time1 }}</div>
            </div>
            <div class="upper-row">
                <div class="role">{{ experience.role2 }}</div>
                <div class="time">{{ experience.time2 }}</div>
            </div>
            <div class="upper-row">
                <div class="role">{{ experience.role3 }}</div>
                <div class="time">{{ experience.time3 }}</div>
            </div>

            {% if experience.details %}
            <div class="details">
                <div class="markdown" style="font-size:90%">
                    {{ experience.details | markdownify }}
                </div>
            </div>
            {% endif %}

        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
